:root {
  --bs-body-bg: rgb(18, 18, 20);
}

body {
  background-color: rgb(18, 18, 20);
}

input {
  color: white !important;
}

h1,
h2,
p,
a,
label,
th,
td {
  color: white !important;
}

table {
  text-align: center;
}
